@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Raleway:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #fff;
}

.logo {
  width: 150px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  background-color: #f3f3f3;
}

nav ul {
  display: flex;
  color: #2a3c67;
  margin-right: 100px;
}

nav ul li {
  margin-right: 20px;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #2a3c67;
  border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  cursor: pointer;
  text-transform: uppercase;
}

li:hover {
  background-color: #2a3c67;
  color: #fff;
  transition: all, 0.8s;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}

/* Nuestro Proyectos */

.sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./img/web-impuestos-construccion-casa.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(90, 90, 90);
  background-blend-mode: soft-light;
  height: 89vh;
  flex-direction: column;
}

.titulo {
  font-size: 120px;
  margin: 0 150px;
  color: #f3f3f3;
  font-family: "Cinzel", serif;
  flex-wrap: wrap;
  text-shadow: #000 2px 2px;
}

.btn-sec1 {
  font-family: "Cinzel", serif;
  width: 450px;
  height: 80px;
  border-radius: 50px;
  font-size: 30px;
  padding: 25px;
  margin-top: 20px;
  align-items: center;
  border: 1px solid #2a3c67;
  justify-content: center;
  background-color: #2a3c67;
  font-weight: bold;
  color: #fff;
}

.btn-sec1:hover {
  background-color: #fff;
  color: #2a3c67;
  transition: all, 0.8s;
}

/* SECCION DE CARTAS */

.contenedor {
  display: flex;
  margin-top: 100px;
  background-color: #fff;
  padding: 0 75px;
}

.carta {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #000; */
  height: 200px;
  padding: 80px;
}

#tel {
  display: flex;
  height: 100px;
  font-size: 50px;
  background-color: #2a3c67;
  color: #f3f3f3;
  border-radius: 100%;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

#dolar {
  display: flex;
  height: 100px;
  font-size: 50px;
  background-color: #2a3c67;
  color: #f3f3f3;
  border-radius: 100%;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

#cel {
  display: flex;
  height: 100px;
  font-size: 50px;
  background-color: #2a3c67;
  color: #f3f3f3;
  border-radius: 100%;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

h5 {
  font-size: 35px;
  color: #2a3c67;
  padding: 16px;
}

.btn-carta {
  font-size: 20px;
  background-color: #2a3c67;
  color: #f3f3f3;
  width: 150px;
  margin-top: 30px;
  border-radius: 5px;
  padding: 5px;
}

.p-cartas {
  color: #0b0c00;
  font-size: 23px;
  text-align: center;
}

.btn-carta:hover {
  background-color: #f3f3f3;
  color: #2a3c67;
  transition: all, 0.8s;
}

/* CARTAS */

.contenedor-card {
  display: flex;
  margin-top: 150px;
  background-color: #f5f5f5;
  margin-bottom: 50px;
}

/* DERECHA */

.derecha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}

.separador-icon-span {
  display: flex;
}

.derecha h3 {
  color: #2a3c67;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
}

.separador {
  width: 50px;
  border-top: 1px solid #2a3c67;
  margin-top: 10px;
}

.icon-i {
  font-size: 30px;
  color: #2a3c67;
}

.fa-sharp fa-solid fa-house-chimney {
  border: 1px solid #2a3c67;
}

#casa {
  border: 1px solid;
  border-radius: 50px;
  padding: 25px;
}

#billete {
  border: 1px solid;
  border-radius: 50px;
  padding: 25px;
}

#galery {
  border: 1px solid;
  border-radius: 50px;
  padding: 25px;
}

.casa-margin {
  margin-left: 50px;
}

.derecha span {
  color: #2a3c67;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 50px;
}

.derecha p {
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 10px;
}

/* izquierda */

.izq {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.izq button {
  font-size: 23px;
  background-color: #2a3c67;
  color: #f3f3f3;
  padding: 18px 30px;
  border-radius: 20px;
}

.izq button:hover {
  background-color: #f3f3f3;
  color: #2a3c67;
  cursor: pointer;
  transition: all, 0.8s;
  box-shadow: 5px 4px 44px -10px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: 5px 4px 44px -10px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 5px 4px 44px -10px rgba(0, 0, 0, 0.78);
}
